.title {
    text-align: center;
    color: #cccccc
}

.photo {
    text-align: center;
    color: #cccccc
}

.news {
    text-align: center;
    color: #cccccc
}

.newsform {
    text-align: center;
    color: #cccccc;
}

.text {
    text-align: center;
    color: #cccccc;
}

body {
    background-color: #0d0d0d;
  }

.hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }

.bar {
    margin-left: 750px;
    padding: 20px
}